@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.formBody {
    height: 100%;
    background-color: #E3F2FD;
}
#sign-in-button {
    margin-top: 5px;   
}

h1 {
    width: 20%;
}

input {
    width: 20%;
}