@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.formBody {
    height: 50%;
    background-color: #E3F2FD;
}
#log-in-button {
    margin-top: 5px;   
}

h1 {
    width: 20%;
}

input {
    width: 20%;
}

#googleBtn {

    margin-left: 5px;
    border-radius: 50%;
    width: 68px;
    #googleImg {
        padding-right: 10px;
        border-radius:50%;
        height: 5.5rem;
    }
    
}